* {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

/* ============================
Anchor Element Styling
============================ */

a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
}

/* ============================
Button Styling
============================ */

button {
  border: none;
  background-color: transparent;
}
button:focus {
  outline: none;
}
.selected {
  background-color: rgba(255,255,255,.70);
  color: black;
  border-radius: 5px;
  padding: .25em;
}

/* ============================
Header Text Styling
============================ */
h1 {
  font-family: 'IM Fell Great Primer SC', serif;
}

h2 {
  font-family: 'IM Fell Double Pica', serif;
  font-size: 1.75em;
  font-weight: bolder;
}
h3 {
  font-family: 'IM Fell Great Primer SC', serif;
  font-size: 1.25em;
}
p {
  font-family: 'Puritan', sans-serif;
  font-size: 1em;
}

/* ============================
List Styling
============================ */

li {
  list-style: none;
  font-family: 'Puritan', sans-serif;
}

/* ==============================================
BODY STYLING
============================================== */

body {
  min-height: 100vh;
  background: url("../pics/library.png") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
}
header,
main,
footer{
  flex:1;
}
main {
  display: flex;
  flex-direction: column;
}

.content {
  height: calc(90vh - 100px);
  margin-top: 66px;
}
.content,
.footer-expander {
  flex: 1;
  width: 100%;
}

.footer-expander {
  height: 10vh;
  min-height: 50px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 10px;
  text-align: center;
  padding-top: 5px;
}

/* ==============================================
FIXED HEADER STYLING
============================================== */

header {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  height: 50px;
  width: 100%;
}

/* ==============================================
MAIN MENU STYLING
============================================== */

.main-menu {
  z-index: 10;
  display: none;
  background-color: rgba(0, 0, 0, .70);
  width: 100%;
  height: 100vh;
}
.main-menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 45px;
}
.main-menu ul li {
  margin-top: 1em;
  padding: .25em;
  font-size: 1.5em;
}

/* ==============================================
MENU ICON STYLING
============================================== */

.nav-toggle span {
  margin-top: 1.5em;
  margin-left: 1.5em;
}

/* ======================
Hamburger Icon
====================== */

.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  cursor: pointer;
  border-radius: .0625em;
  height: .25em;
  width: 1.75em;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
.nav-toggle span:before {
  top: -0.5em;
}
.nav-toggle span:after {
  bottom: -0.5em;
}

/* ======================
Transition to X icon
====================== */

.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
.nav-toggle.active span {
  background-color: transparent;
}
.nav-toggle.active span:before, .nav-toggle.active span:after {
  top: 0;
}
.nav-toggle.active span:before {
  transform: rotate(45deg);
/*  z-index: 20; */
  background: white;
}
.nav-toggle.active span:after {
  transform: rotate(-45deg);
  /*  z-index: 20; */
  background: white;
}

/* ==============================================
CONTENT STYLING
============================================== */

.content {
  width: 85%;
  padding-left: 7.5%;
  padding-right: 7.5%;
}

.content h2,
.content h3,
.content p {
text-align: left;
padding-bottom: .6em;
}
.content img {
  height: 346px;
  padding: 1em;
}
.content {
  color: white;
  overflow-y: scroll;
}

/* ==============================================
FOOTER STYLING
============================================== */
footer.open {
  min-height: calc(100vh - 50px);
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 15;
  padding-top: 1em;
}
main.open {
  flex: 0;
}
.content.open {
  display: none;
}
.footer-expander.open{
  position: relative;
  max-height: 50px;
}
.footer-wrap {
  display: none;
}
.footer-wrap.open {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 2em;
  min-height: 422px;
  overflow-y: scroll;
}
.content {
  width: 85%;
}
.copyright,
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0 auto;
  font-size: 1em;
  align-items: center;
}
.content,
.copyright,
.col {
  text-align: center;
}
.copyright,
.footer-logo {
  padding-top: 2em;
}
.sub-menu,
.copyright {
  padding-bottom: 2em;
}
.footer-logo{
  display: none;
}
.contact li {
  font-size: 1.25em;
}
address {
  font-size: 1.25em;
  font-family: 'Puritan', sans-serif;
  font-style: normal;
}

/* ==============================================
RESOURCES : BOOKS: Cover Only Book View
============================================== */
.cover h2,
.cover h3,
.cover p {
  display: none;
}

.cover{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cover {
  flex-grow: 1;
}
.cover img {
  height: 200px;
  max-width: 177px;
}

/* ==============================================
RESOURCES : BOOKS: View Icons
============================================== */

.list-style {
  font-size: 1.5em;
  display: flex;
  justify-content: flex-end;
  padding-top: 40px;
}
.fa-th {
  padding: .5em;
  color: white;
}
.fa-align-justify,
.fa-th-list {
  padding: .5em .5em .5em 0;
  color: white;
}
.fa-chevron-down {
  font-size: 1.5em;
  color: white;
}
.fa-chevron-up {
  font-size: 1.5em;
  color: white;
}

/* ==============================================
RESOURCES : BOOKS: Title Only Book View
============================================== */

.title img,
.title p {
  display: none;
}
.title {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.title h2,
.title h3 {
  text-align: left;
}
.title h3 {
  font-style: italic;
  padding-bottom: 1em;
}
.title h2 {
  padding-bottom: 0;
}

/* ==============================================
ABOUT : ASK : Form Styling
============================================== */
.ask-form {
  display: flex;
  flex-direction: column;
}
form label {
  text-align: left;
  padding: 1em 0;
  font-weight: 600;
}
form input,
form textarea {
  height: 1.5em;
  background-color: rgba(125, 125, 125, 0.7);
  border: 1px solid white;
  border-radius: 4px;
}
input:focus,
textarea:focus {
  border: 3px solid white;
  outline: none;
}
.faq {
  padding-top: 2em;
  padding-bottom: 2em;
}

.blog-post {
  padding-bottom: 6em;
  text-align: left;
}

/* ======================
Submit Button
====================== */
#submit {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: .3em;
  width: 160px;
  margin-top: 1.5em;
}
h2.author {
  text-align: center;
}

/* =====================================================
media queries
===================================================== */
@media (max-height:425px){
  .nav-toggle span {
    display: none;
  }
  .main-menu {
    display: flex;
    max-height: 50px;
    background-color: transparent;
  }
  .main-menu ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    ;
  }
  .main-menu ul li {
    margin: 0;
    align-items: center;
    padding-right: .5em;
    text-align:center;
    font-size: 1em;
  }
}

@media (min-width:520px){
  .nav-toggle span {
    display: none;
  }
  .main-menu {
    display: flex;
    max-height: 50px;
    background-color: transparent;
  }
  .main-menu ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: flex-end;
  }
  .main-menu ul li {
    margin: 0;
    align-items: center;
    padding-right: 1em;
    text-align:center;
    font-size: 1em;
  }
  .list-style {
    padding-top: 0;
  }
  .footer{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .footer-logo {
    display: inherit;
    flex-grow: 1;
    min-width: 100%;
    justify-content: center;
  }
  .footer-logo img{
    height: 200px;
    min-width: 271px;
  }
  .contact,
  .address {
    padding-right: 2em
  }
}
@media (min-width:750px){
  .content {
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
  }
  .form-page {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 85%;
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
  .ask-form,
  .faq {
    flex: 1;
    padding: 1em;
  }
  .title {
    margin-top: 48px;
  }
}
@media (min-width:980px){
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer-logo {
  flex-grow: 0;
  min-width: 271px;
}
.contact {
  order: -1;
}
.contact,
.address {
  padding-top: 75px;
  padding-right: 0;
}
}
